<!-- CHECK LATER - Polyfill Draggable -->
<div id="cubecontainer">
  <div id="cube-generator" draggable="true" ondragstart="drag(event)" class="cube cube-1">
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
  </div>
</div>

<button id="cubegen">Generate a thing</button>

<button id="generate">Generate Grid</button>
</br>
<button id="rotate-ccw">Counterclockwise</button>
<button id="rotate-cw">Clockwise</button>
<button id="rotate-up">Rotate Up</button>
<button id="rotate-down">Rotate Down</button>
</br>
<button id="mv-up">Up</button>
<button id="mv-left">Left</button>
<button id="mv-down">Down</button>
<button id="mv-right">Right</button>
</br>
<button id="zoom-in">Zoom-in</button>
<button id="zoom-out">Zoom-out</button>
<button id="spread">Spread</button>
<button id="contract">Contract</button>



Rows: <input id="row">
Columns: <input id="column">
Height: <input id="height">
<div id="container" ondrop="drop(event)" ondragover="allowDrop(event)">
<div id="grid-visibility"></div>





</div>


<script src="../home.js"></script>
