<!-- CHECK LATER - Polyfill Draggable -->
<div id="generators">
    <div id="generate-grid">
        <div>Rows: <input id="row"></div>
        <div>Columns: <input id="column"></div>
        <div>Height: <input id="height"></div>
        <button id="generate">Generate Grid</button>

    </div>
    <div id="generate-tokens">
      <div id="cube-generator" draggable="true" ondragstart="drag(event)" class="generator cube">
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
        <div class="face"></div>
      </div>

      <div id="basic-token" draggable="true" ondragstart="drag(event)" class="generator token">
        <div class="face"></div>
        <div class="face"></div>
      </div>
    </div>
</div>
<br>
<!-- </br> -->
<!-- <div id="rotate-ccw">Counterclockwise</div>
<div id="rotate-cw">Clockwise</div>
<div id="rotate-up">Rotate Up</div>
<div id="rotate-down">Rotate Down</div> -->
</br>


<div id="container" ondrop="drop(event)" ondragover="allowDrop(event)">
<div id="controls">
    <div id="left-ctrl" class="sidebar">
        <div class="control">
            <button id="hide">Hide Generators</button>
            <div id="grid-visibility"></div>
        </div>
    </div>
    <div id="right-ctrl" class="sidebar">
        <!-- Translates -->
        <div class="control">
            <div class="row">
                <div class="ctrl-btn translate" id="mv-up">&#x2191;</div>
            </div>

            <div class="row">
                <div class="ctrl-btn translate" id="mv-left">&#x2190;</div>
                <div class="ctrl-btn translate" id="mv-right">&#x2192;</div>
            </div>
            <div class="ctrl-btn translate" id="mv-down">&#x2193;</div>
            </br>
        </div>
        <!-- Rotates -->
        <div class="control">
            <div class="ctrl-btn" id="rotate-down">Up</div>
            <div class="row">
                <div class="ctrl-btn" id="rotate-cw">&#x21BB;</div>
                <div class="ctrl-btn" id="rotate-ccw">&#x21BA;</div>
            </div>
            <div class="ctrl-btn" id="rotate-up">Down</div>
        </div>
        <div class="control">
            <div class="row nogap">
                <div class="ctrl-btn" id="zoom-in">Zoom-in</div>
                <div class="ctrl-btn" id="zoom-out">Zoom-out</div>
            </div>
            <div class="row nogap">
                <div class="ctrl-btn" id="spread-in">Spread</div>
                <div class="ctrl-btn" id="spread-out">Contract</div>
            </div>


        </div>

    </div>

</div>




</div>


<!-- <script src="../home.js"></script> -->
<script src="../grid.js"></script>
<script src="../index.js"></script>
