<!-- CHECK LATER - Polyfill Draggable -->
<div id="container" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div id="generators">
        <div id="generate-grid">
            <div>Rows: <input id="row"></div>
            <div>Columns: <input id="column"></div>
            <div>Height: <input id="height"></div>
            <button id="generate">Generate Grid</button>

        </div>
        <div id="generate-tokens">
          <div id="cube-generator" draggable="true" ondragstart="drag(event)" class="generator cube">
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
            <div class="face"></div>
          </div>

          <div id="basic-token" draggable="true" ondragstart="drag(event)" class="generator token">
            <div class="face"></div>
            <div class="face"></div>
          </div>

        </div>
    </div>
<div id="controls">
    <div id="left-ctrl" class="sidebar">
        <div class="control">
            <button id="hide">Hide Generators</button>
            <div id="grid-visibility"></div>
        </div>
    </div>
    <div id="right-ctrl" class="sidebar">
        <!-- Translates -->
        <li>
            <ul>Translate</ul>
            <ul id="current-translate">X: 0, Y: 0</ul>
            <ul>X: <input class="translate"></ul>
            <ul>Y: <input class="translate"></ul>
            <ul><button class="inspector translate">Translate</button></ul>

            <hr>

            <ul>Rotate</ul>
            <ul id="current-rotate">X: 75, Y: 0, Z:-45</ul>
            <ul>X: <input class="rotate"></ul>
            <ul>Y: <input class="rotate"></ul>
            <ul>Z: <input class="rotate"></ul>
            <ul><button class="inspector rotate">Translate</button></ul>
            <hr>

            <ul>Zoom</ul>
            <ul id="current-zoom">1</ul>
            <ul>
                <input class="zoom" oninput="rangeUpdateZoom(this.value)"
                type="range" min="0" max="5" step="0.1">
            </ul>
            <!-- <ul><button class="inspector zoom">Zoom</button></ul> -->

            <hr>

            <ul>Spread</ul>
            <ul id="current-spread">100</ul>
            <ul>
                <input oninput="rangeUpdateSpread(this.value)"
                type="range" min="0" max="200">
            </ul>


        </li>
    </div>
  </div>
    <div id="hint">
        <p>Arrows - translate</p>
        <p>A, S, D, F - rotate</p>
        <p>Q, E - spread/contract layers</p>
        <p>Z, C - zoom</p>
    </div>
</div>


<!-- <script src="../home.js"></script> -->
<script src="../gridprototype.js"></script>
<script src="../indexprototype.js"></script>
