<div class="container">
  <div id="cubetest" draggable="true" ondragstart="drag(event)" class="cube cube-1">
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
  </div>
</div>

<button id="generate">Generate Grid</button>
Rows: <input id="row"></input>
Columns: <input id="column"></input>
<div id="container" ondrop="drop(event)" ondragover="allowDrop(event)">

</div>

<script>
// ==============
// ==== Grid ====
// ==============
let lastClicked;
let generate = document.getElementById("generate")
let grid;
const container = getElement("container")

generate.onmousedown = function(e){
    let rows = document.getElementById('row').value
    let cols = document.getElementById('column').value

    if (grid){
        grid.remove()
    }
    grid = clickableGrid(rows, cols, function(el,row,col,i){
        console.log("You clicked on element:",el);
        console.log("You clicked on row:",row);
        console.log("You clicked on col:",col);
        console.log("You clicked on item #:",i);

        el.className='clicked';
        if (lastClicked) lastClicked.className='';
        lastClicked = el;
    });

    container.appendChild(grid);

}

function clickableGrid(rows, cols, callback ){
    let i = 0;
    let grid = document.createElement('table');
    grid.className = 'grid';
    for (let r=0; r<rows; ++r){
        let tr = grid.appendChild(document.createElement('tr'));
        for (var c=0;c<cols;++c){
            var cell = tr.appendChild(document.createElement('td'));
            // cell.innerHTML = ++i;
            cell.addEventListener('click',(function(el, r, c, i){
                return function(){
                    callback(el, r, c, i);
                }
            })(cell, r, c, i),false);
        }
    }
    return grid;
}
// ==============
// ==== Drag ====
// ==============
// let cubetest = document.getElementById('cubetest')
//
// cubetest.onmousedown = function(e) {
//     console.log("Hello?")
//   const tile = makeTile()
//   const draggable = new Draggable(tile, e.pageX, e.pageY)
//   selected = draggable
// }
//
// function makeTile() {
//   // Create a new div element
//   const el = document.createElement('div')
//   el.classList.add('player')
//   container.appendChild(el)
//   return el
// }
//
function getElement(id) {
  return document.getElementById(id)
}

function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}

</script>
