<!-- CHECK LATER - Polyfill Draggable -->
<div id="cubecontainer">
  <div id="cube-generator" draggable="true" ondragstart="drag(event)" class="generator cube">
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
  </div>

  <div id="basic-token" draggable="true" ondragstart="drag(event)" class="generator token">
    <div class="face"></div>
    <div class="face"></div>
  </div>
</div>
<br>

<button id="cubegen">Generate a thing</button>

<button id="generate">Generate Grid</button>
<!-- </br> -->
<!-- <div id="rotate-ccw">Counterclockwise</div>
<div id="rotate-cw">Clockwise</div>
<div id="rotate-up">Rotate Up</div>
<div id="rotate-down">Rotate Down</div> -->
</br>


Rows: <input id="row">
Columns: <input id="column">
Height: <input id="height">
<div id="container" ondrop="drop(event)" ondragover="allowDrop(event)">
<div id="controls">
    <div id="left-ctrl" class="sidebar">
        <div class="control">
            <div id="grid-visibility"></div>
        </div>
    </div>
    <div id="right-ctrl" class="sidebar">
        <div class="control">
            <div class="row">
                <div class="ctrl-btn" id="mv-up">&#x2191;</div>
            </div>

            <div class="row">
                <div class="ctrl-btn" id="mv-left">&#x2190;</div>
                <div class="ctrl-btn" id="mv-right">&#x2192;</div>
            </div>
            <div class="ctrl-btn" id="mv-down">&#x2193;</div>
            </br>
        </div>
        <div class="control">
            <div class="ctrl-btn" id="rotate-down">Up</div>
            <div class="row">
                <div class="ctrl-btn" id="rotate-cw">&#x21BB;</div>
                <div class="ctrl-btn" id="rotate-ccw">&#x21BA;</div>
            </div>
            <div class="ctrl-btn" id="rotate-up">Down</div>
        </div>
        <div class="control">
            <div class="row nogap">
                <div class="ctrl-btn" id="zoom-in">Zoom-in</div>
                <div class="ctrl-btn" id="zoom-out">Zoom-out</div>
            </div>
            <div class="row nogap">
                <div class="ctrl-btn" id="spread">Spread</div>
                <div class="ctrl-btn" id="contract">Contract</div>
            </div>


        </div>

    </div>

</div>




</div>


<!-- <script src="../home.js"></script> -->
<script src="../grid.js"></script>
