<!-- CHECK LATER - Polyfill Draggable -->

<div id="cubecontainer">
  <div id="cube-1" draggable="true" ondragstart="drag(event)" class="cube cube-1">
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
    <div class="face"></div>
  </div>
</div>


<button id="cubegen">Generate a thing</button>

<button id="generate">Generate Grid</button>
<button id="rotate-ccw">Counterclockwise</button>
<button id="rotate-cw">Clockwise</button>

Rows: <input id="row">
Columns: <input id="column">
Height: <input id="height">

<div id="container" ondrop="drop(event)" ondragover="allowDrop(event)">

</div>


<script src="../home.js"></script>
