/*.board{
    display: block;
    height: 501px;
    width: 501px;
    background-size: 100px 100px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg) translateX(100px) translateY(100px);
}*/


/*
.dragclone{
    transform: translateX(-100px) translateY(-100px);
}*/

/*.ui-draggable-dragging{
    transform: rotateX(60deg) rotateY(0deg) rotateZ(-45deg);
}*/

/*.board{
    display: grid;
}*/
