/*div.board{
    display: block;
    height: 100%;
    background-size: 100px 100px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}*/
