body{
    --default:  "top top top top top top"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont";

    --hidden:   "cont cont cont cont cont cont"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont"
                "cont cont cont cont cont cont";

    display: grid;
    height: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: var(--default);
}

#generators{
    grid-area: top;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:    "gene cube cube cube cube cube";
}

/* ============================================== */
/* Contains all the grid generation items         */
/* ============================================== */
#generate-grid{
    grid-area: gene;
    display: inline-flex;
    flex-direction: column;
}

    #generate-grid input{
        width: 50%;
    }

    #generate-grid div{
        display: flex;
        justify-content: space-between;
        margin: 2px;
    }

    #generate-grid button{
        margin: 10px;
        width: 75%;
        height: 25%;
        background-color: white;
        border-radius: 25px;
        align-self: center;
    }
/* ============================================== */
/* Contains all the cube generator items          */
/* ============================================== */

#generate-tokens {
    grid-area: cube;

  /*width: 50%;*/
  /*height: 50px;
  padding: 50px;*/

  /*border: 1px solid #000;*/
  /*position: relative;*/
  /*perspective: 400px;*/
  display: inline-flex;
  flex-flow: row;
  /*align-items: center;*/
  /*justify-content: space-between;*/
}


/*CUUUUBE*/

.face {
  position: absolute;
  width: 50px;
  height: 50px;
}

/*#cubecontainer>div{
    display: inline;
    position: static;
}*/

.generator{
    margin: 5px 50px;
    /*align-self: center;*/
}


#container .token{
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ(25px) translateY(-25px);

}

  /* Bottom */
  .cube .face:nth-child(1) {
    transform: rotate3d(0, 0, 0, 0) translate3d(0, 0, -25px);
    background-color: rgba(255, 0, 0, 0.5);
  }

  .cube .face:nth-child(2) {
    transform: rotate3d(1, 0, 0, 90deg) translate3d(0, 0, -25px);
    background-color: rgba(0, 255, 0, 0.5);
  }

  .cube .face:nth-child(3) {
    transform: rotate3d(0, 1, 0, 90deg) translate3d(0, 0, -25px);
    background-color: rgba(0, 0, 255, 0.5);
  }

  /* Top */
 .cube .face:nth-child(4) {
    transform: rotate3d(0, 1, 0, 180deg) translate3d(0, 0, -25px);
    background-color: rgba(255, 0, 0, 0.5);
  }

  .cube .face:nth-child(5) {
    transform: rotate3d(1, 0, 0, -90deg) translate3d(0, 0, -25px);
    background-color: rgba(0, 255, 0, 0.5);
  }

  .cube .face:nth-child(6) {
    transform: rotate3d(0, 1, 0, -90deg) translate3d(0, 0, -25px);
    background-color: rgba(0, 0, 255, 0.5);
  }


    /* Base */
    .token .face:nth-child(1) {
      transform: rotate3d(0, 0, 0, 0) translate3d(0, 0, -25px);
      background-color: rgba(255, 0, 0, 0.5);
      border-radius: 50%;
    }
    /* Backright */
    .token .face:nth-child(2) {
      transform: rotateX(-90deg) rotateY(var(--rotZ ));
      background-image: url('token.jpg');
      background-size: auto 100%;
      background-repeat: no-repeat;
      transition: 500ms;
    }
/* ======================= */



#container{
    grid-area: cont;
    position: relative;
    /*display: flex;*/
    flex-direction: row;
    --zoom: 1;
    /*height: 60%;*/
    overflow: hidden;
    border: 1px solid black;
}

.grid {
    /* These get set on creation, but defaults are: 70deg, 0deg, -45deg, X Y Z*/
    z-index: 1;
    position: absolute;
    transform-style: preserve-3d;
    border-collapse: collapse;
    background-color: rgba(250, 250, 250, .9);
    transition: 500ms;
    left: calc(50% + var(--x));
    top: calc(50% + var(--y));
    transform:
        translateX(-50%)
        translateY(-25%)
        scale(var(--zoom))
        rotateX(var(--rotX))
        rotateY(var(--rotY))
        rotateZ(var(--rotZ))
        translateZ(var(--trnZ));
}

.grid td {
    cursor: pointer;
    width: 52px;
    height: 52px;
    border: 1px solid #ccc;
    padding: 0px;
    box-sizing: content-box;
}

.grid td.clicked {
    background-color: yellow;
    font-weight: bold;
    color: red;
}

/* Controls */
#controls{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

#grid-visibility{
    display: flex;
    flex-direction: column;
}

.sidebar {
    display: flex;
}

.control {
    z-index: 999;
    display: inherit;
    flex-direction: column;
    align-items: center;

}

    .control .row{
        display: inherit;
    }

    .ctrl-btn {
        --size: 30px;
        font-size: 10px;
        height: var(--size);
        width: var(--size);
        line-height: var(--size);
        border: 1px solid black;
        border-radius: 50%;
        text-align: center;
        /*margin: 0px 10px;*/
        background-color: #EEE;
    }

    .row .ctrl-btn{
        margin: 0px 10px;
    }

    .row.nogap .ctrl-btn{
        margin: 0px 2px;
    }
